/* Breakpoints:
   phones - 480px
   tablet - 768px
   desktop - 1200 */

   :root {
    
    /* Text colors */
    --slate:#434455;
    --light_slat:#8E8F99;
    --navy_blue_modal:#2E2F42;
    --accent-txt-cl:#FFFFFF;
  

    /* BG colors */
    --primary-bg-cl: rgba(46, 47, 66, 0.7);
    --iris: #4D5AE5;
    --gloud:#F4F4FD;
    --navy_blue: #2E2F42;
    --ocean:#404BBF;

    --green:#31D0AA;
    --cornflower:#E7E9FC;


    --trns-fast: 400ms ease-in;
    --trns-slow: 1800ms ease-in-out;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* reset styles */

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: currentColor;
}

/* reset end */

body {
    font-family: 'Roboto',
    sans-serif;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
}
.container {
    min-width: 320px;
    max-width: 428px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    
    outline: 2px solid red;
    outline-offset: -2px;
    }
    
    @media screen and (min-width:768px) {
        .container {
          max-width: 768px;
        }
    }
    
    @media screen and (min-width: 1200px) {
      .container {
        max-width: 1158px;
        padding-right: 16px;
        padding-left: 16px;
      }  
    }
    
    /* header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.container-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;    
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    }        
.logo-heder {
    color: var(--navy_blue);
    }
.flexbox-nav {
    display: none;
}
.stail-nav{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flexbox-contakts {
    display: none; 
}
.stail-nav:hover,
.stail-nav:focus,
.stail-contacts:hover,
.stail-contacts:focus
 {
color: var(--iris);
}
.stail-nav.current::after {
    content: '' ;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
@media screen and (min-width:768px) {
    .flexbox-nav{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .flexbox-contakts {
        display: flex; 
        flex-direction: column;
    }
    .menu-toggle{
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    @media screen and (min-width: 1200px) {
        .flexbox-contakts {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;
        }
      }
  }
