/* Breakpoints:
   phones - 480px
   tablet - 768px
   desktop - 1200 */

   :root {
    
    /* Text colors */
    --slate:#434455;
    --light_slat:#8E8F99;
    --navy_blue_modal:#2E2F42;
    --accent-txt-cl:#FFFFFF;
  

    /* BG colors */
    --primary-bg-cl: rgba(46, 47, 66, 0.7);
    --iris: #4D5AE5;
    --gloud:#F4F4FD;
    --navy_blue: #2E2F42;
    --ocean:#404BBF;

    --green:#31D0AA;
    --cornflower:#E7E9FC;


    --trns-fast: 400ms ease-in;
    --trns-slow: 1800ms ease-in-out;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* reset styles */

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: currentColor;
    
}

/* reset end */

body {
    font-family: 'Roboto',
    sans-serif;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-txt-cl);
    }
.container {
    min-width: 320px;
    max-width: 428px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    
    outline: 2px solid red;
    outline-offset: -2px;
    }
    
    @media screen and (min-width:768px) {
        .container {
            max-width: 768px;
        }
    }
    
    @media screen and (min-width: 1200px) {
      .container {
        max-width: 1158px;
        padding-right: 16px;
        padding-left: 16px;
      }  
    }
    
    /* header */
header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}